.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f7f7;
}

.box5 {
  height: 200px;
  width: 200px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  background-color: white;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
